APP_ENV=development
GOOGLE_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.your-google-ios-client-id
INSTAGRAM_APP_ID=your-instagram-app-id
ONESIGNAL_APP_ID=your-onesignal-app-id
SENTRY_DSN=your-sentry-dsn
